.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #20232a;
  min-height: 100vh;
  text-align: center;
  color: white;
  font-family: 'Kalam', sans-serif;
  font-size: 2rem;
  overflow: auto;
}

.loader-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 50px 10px;
}

.loader-text {
  padding-bottom: 15px;
}

.loader-img {
  padding-top: 15px;
  width: 390px;
}

.countdown-container {
  display: flex;
  justify-content: center;
}

.countdown-item {
  margin: 0 10px;
  font-family: 'Orbitron', sans-serif;
}

.countdown-value {
  font-size: 1.8rem;
  font-weight: bold;
}

.countdown-label {
  font-size: 0.8rem;
  color: #999;
}
