.App {
  text-align: center;
}

.App-logo {
  width: 100%;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-link {
  color: #61dafb;
}

.App-result {
  background-color: #20232a;
  margin: 15px;
  height: 100px;
  width: 300px;
  line-height: 100px;
}

.App-container {
  position: relative;
  width: 100%;
}

.App-fallback {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-height: 300px;
  min-width: 300px;
  background-color: #20232a;
}

.App-target {
  position: absolute;
  top: 60.8%;
  left: 18.5%;
  height: 2%;
  width: 1.4%;
}

.App-cible {
  position: absolute;
  border-radius: 50%;
  top: 62.3%;
  left: 74.5%;
  height: 1.5%;
  width: 1.5%;
}

.loader-container {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.loader {
  border: 8px solid #282c34;
  border-left-color: white; /* Choisissez une couleur appropriée */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.loader-text {
  font-family: 'Kalam', sans-serif;
  padding-bottom: 15px;
}

.loader-img {
  padding-top: 15px;
  width: 500px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




.quote-container {
  position: absolute;
  top: 50px;
  right: 30px;
}

.note {
  width: 300px;
  font-family: 'Kalam', sans-serif;
  font-size: 1em;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.note .author {
  display: block;
  text-align: right;
}

.yellow {
  background: #01579B;
  transform: rotate(2deg);
}

.pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -16px;
  z-index: 1;
}

.pin:after {
  background-color: #A31;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1), inset 3px 3px 3px hsla(0,0%,100%,.2), inset -3px -3px 3px hsla(0,0%,0%,.2), 23px 20px 3px hsla(0,0%,0%,.15);
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}

.pin:before {
  background-color: hsla(0,0%,0%,0.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';

  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 8px;

  transform: rotate(57.5deg);

  transform-origin: 50% 100%;
}
