.game-1-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 10px;
}

.game-1-text {
  font-size: 1.6rem;
}

.game-1-nedry {
  width: 150px;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
}

.game-1-code {
  background-color: #3c3f41;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s, border-bottom-color 0.3s;
}

.game-1-code:focus {
  border-bottom-color: #2196f3;
  box-shadow: 0 3px 4px 0 rgba(33, 150, 243, 0.5);
  outline: none;
}

.game-1-code.error {
  border-bottom-color: #f44336;
  box-shadow: 0 3px 4px 0 rgba(244, 67, 54, 0.5);
}

.error-message {
  font-size: 1rem;
  color: #f44336;
}

.game-1-help {
  position: absolute;
  bottom: 0;
  color: #20232a;
  cursor: default;
}

.game-1-help-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #20232a;
}
