.game-2-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 10px;
}

.game-2-tinkerbell {
  width: 150px;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
}
