.game-2-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 10px;
}

.game-2-text {
  font-size: 1.6rem;
}

.game-2-nedry {
  width: 150px;
}

.game-2-code {
  color: white;
  padding: 5px 20px;
  background-color: #3c3f41;
  border-radius: 8px;
  border: 0;
  text-align: center;
  font-weight: bold;
}
